<%- include("_header") -%>

    <h1>Create Customers</h1>

    <form action="/newCust" method="post">
        <div class="form-horizontal">

            <%- include("_editor") -%>


                <div class="form-group row">
                    <label class="col-form-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input type="submit" value="Save" class="btn btn-default btn-success" />
                        <a class="btn btn-outline-dark cancel" href="/newCust">Reset</a>
                    </div>
                </div>
        </div>
    </form>



    <% if (type==="post" ) { %> 

        <% if (err== "good" ) { %> 
            <h1>New Customer Created!</h1>
        
            <% } else { %>

                <h1>Error Creating New Customer!</h1>

                <h6>
                   Error: <%= err %>
                </h6>
                    <% } %>

                    <% } %> 

                        <%- include("_footer") -%>